<div class="card">
  <div class="card-image">
    <img [src]="personaje.image" [alt]="personaje.name" class="image">
  </div>

  <div class="card-body">
    <h2 class="card-title">{{ personaje.name }}</h2>
    <div class="card-details">
      <p><strong>Raza:</strong> {{ personaje.race }}</p>
      <p><strong>Ki:</strong> {{ personaje.ki }}</p>
      <p><strong>Afiliación:</strong> {{ personaje.affiliation }}</p>
    </div>
    <div class="card-description">
      <p>{{ personaje.description }}</p>
    </div>
    <div class="card-actions">
      <button class="btn btn-blue" (click)="handleTransformaciones()">Transformaciones</button>
      <button class="btn btn-green" (click)="openModal()">Origen</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Planeta de Origen</h3>
      <button (click)="closeModal()" class="modal-close">✖</button>
    </div>
    <div *ngIf="originPlanet; else loadingOrError" class="modal-body">
      <img [src]="originPlanet.image" [alt]="originPlanet.name" class="modal-image">
      <p><strong>Nombre:</strong> {{ originPlanet.name }}</p>
      <p><strong>¿Destruido?:</strong> {{ originPlanet.isDestroyed ? 'Sí' : 'No' }}</p>
      <p><strong>Descripción:</strong> {{ originPlanet.description }}</p>
    </div>
    <ng-template #loadingOrError>
      <p class="modal-error">Cargando o error al obtener los datos...</p>
    </ng-template>
  </div>
</div>
